<!DOCTYPE html>
<html lang="en">
<head>
        <title>Dojo Counter Assignment</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='num_game.css') }}">
    </head>

    <body class="container">
        <div>
            <h1>Welcome to the Great Number Game!</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
            <h3>Take a guess!</h3>
            {% if answer: %}
                <div class="answer2" style="background: {{color}};">
                    <p>{{answer}}!</p>
                </div>
                
            {% endif %}
            <form action="/guess" method="post">
                <input type="text" name="number">
                <input type="submit">
                <br>
                <a href="/">Restart</a>
            </form>
        </div>
    </body>
</html>